<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="verse">
            {{user.username}} posted on {{created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>