<section class="login-page">
    <div class="form-header">
        <h2>Log In</h2>
    </div>
    <div class="form-section">
        <form class="login-form">
            <div>
                <label for="username">Username</label>
                <input type="text" class="login-field" id="username"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="login-field" id="password"/>
            </div>
            <div>
                <button type="submit" class="login-button">Sign In</button>
            </div>
        </form>
    </div>
    <a href="/signup" class="sign-in">Sign Up</a>
</section>

<script src="/public/javascript/login.js"></script>