<section class="sign-in-page">
    <div class="form-header">
        <h2>Sign Up</h2>
    </div>
    <div class="form-section">
        <form class="blog-form">
            <div>
                <label for="username-signup">Select Username</label>
                <input type="text" class="login-field" id="username-signup">
            </div>
            <div>
                <label for="password-signup">Select Password</label>
                <input type="password" class="login-field" id="password-signup">
            </div>
        </form>
    </div>
    <a href="/login" class="login-link">Log in</a>
</section>

<script src="/public/javascript/signup.js"></script>