<a href="/dashboard" class="back"> &larr; Back to dashboard</a>
<br>
<br>
<br>

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="body-comment"></textarea>
    </div>
    <div>
        <button type="submit">Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/public/javascript/comment.js"></script>
{{/if}}